// Define variables for table colors and spacing
$primary-color: #4d4d4d;
$secondary-color: #999999;
$light-color: #f2f2f2;
$dark-color: #1a1a1a;
$table-padding: 10px;
$table-border-radius: 5px;

.biography {
  &__bio{
    background-color: white;
    transition: 0.3s;
    &__el{
      background: none;
      transition: 0.3s;
      &--active{
        transition: 0.3s;
        background-color: rgb(124 124 127)
      }
    }
    &--active{
      transition: 0.3s;
      background-color: #999
    }
  }
  &__btn-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__btn {
    background-color: #999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 3px;

    &:hover {
      background-color: darken(#999, 10%);
      cursor: pointer;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $table-border-radius;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;

  thead {
    background-color: $primary-color;
    color: $light-color;
    th {
      padding: $table-padding;
      text-align: left;
      font-weight: bold;
    }
  }



  tbody {
    tr {
      &:hover {
        background-color: $light-color;
      }
      td {
        padding: $table-padding;
        border-bottom: 1px solid $secondary-color;
        &:last-child {
          width: 50%;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
            strong {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}