.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0 ,0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.active {
  z-index: 2;
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  width: 80vw;
  height: 30vw;
  padding: 0 20px 20px 20px;
  border-radius: 12px;
  background-color: #19191d;
  transform: scale(0.5);
  transition: 0.4s all;
  overflow: hidden;
  overflow-y:scroll;
  & {
    scrollbar-width: none;
    scrollbar-color: #25252b #080808;
  }

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: #19191d;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #25252b;
    border-radius: 8px;
  }
}

.modal__content.active {
  transform: scale(1.0);
}