.card {
    margin-bottom: 10px;
    color: white;
    width: 250px;
    height: 350px;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    justify-content: space-evenly;

    &_wrapper {
        display: flex;
        height: 100vh;
        flex-direction: column;
        background-image: url(https://picstatio.com/u/5eeb9f/kylo-ren-star-wars-artwork-4k.jpg);
        background-repeat: no-repeat, repeat;
        background-size: cover;
        justify-content: flex-start;
        align-items: center;

        @media ("max-width: 760px") {
            height: 100%;
        }
    }

    &_paginate {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    &_button {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        color: white;
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
        border-radius: 4px;
        transition: 300ms;

        &:hover {
            transition: 300ms;
            transform: scale(1.1);
        }
    }

    &_container {
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }

    &-title {
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    &-list {
        font-size: 16px;
        list-style: none;
        margin: 0;
        padding: 0 20px;

        li {
            border-bottom: 1px solid #eee;
            padding: 10px 0;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &-date {
        color: white;
        font-size: 12px;
        margin: 0;
        padding: 20px;
        text-align: center;
    }
}
